---
import Lay from "../../layouts/Layout.astro";
import Socials from "../../components/Socials.astro";

const { title, date, timeless } = Astro.props.frontmatter;
const _date = new Date(date);
const niceDate = `${_date.getFullYear()}-${_date.getMonth() + 1}-${_date.getDate()}`;
const isOld = _date.getFullYear() < 2022;
---

<Lay title={title}>
    <h1>{title}</h1>
    <div class="date">
        {niceDate}
    </div>
    {
        isOld && !timeless && (
            <aside class="old-warning">
                ⌛️ Note: this content is old! I'm keeping old blog posts online
                &ndash; old content can be very good &ndash; but please verify
                technical info using up-do-date sources.
            </aside>
        )
    }
    <slot />
    <hr />
    <footer>
        <a href="/blog">&laquo; Back to blog listing</a>
        <div class="socials">
            <Socials />
        </div>
    </footer>
</Lay>

<style>
    .old-warning {
        margin: 1rem 0;
        padding: 1rem;
        border: 2px dashed grey;
    }
    h1 {
        margin: 0 0 .5rem;
    }
    .date {
        font-weight: bold;
    }
    footer {
        padding: 1rem 0;
    }
    .socials {
        margin: 1rem 0;
    }
</style>
